
    
.chart{
	left:700px;
        height: 420px;
 
  position : relative;
      top : 515px;
}
.fin{
right:400px;
        height: 520px;
 
  position : relative;
      top : 615px;
}
.dos{
        right:400px;
        height: 420px;
 
  position : relative;
      top : 515px;
  }